<launch>

    <!-- Robot namespace -->
    <arg name="robot_name" default="my_gen3_lite"/>
    <arg name="start_delay_seconds" default="0"/>
    <arg name="use_joy" default="true"/>
    <arg name="joy_name" default="js2"/> <!--Some typical ones are js1, js2, ds4x (ps4 bluetooth)-->

    <!-- load positions and sequences into rosparams -->
    <!-- positions -->
    <rosparam file="$(find macro_controller)/src/positions/combined_poses.json" />

    <!-- sequences -->
    <rosparam file="$(find macro_controller)/src/sequences/combined_seqs.json" />

    <!-- if use_joy is true, set the current joystick for joy_node to be the joy_name parameter-->
    <group if="$(arg use_joy)">
        <param name="use_joy" value="true"/>
        <param name="joy_node/dev" value="$(eval '/dev/input/' + str(joy_name))"/>
    </group>
    <group unless="$(arg use_joy)">
        <param name="use_joy" value="false"/>
    </group>

    <!-- Launch the example in that namespace control_kortex.py clear_params="true"-->
    <node name="pk_arm_controller" pkg="macro_controller" type="control_kortex.py" output="screen"
        launch-prefix="bash -c 'sleep $(arg start_delay_seconds); $0 $@' "
        ns="$(arg robot_name)" clear_params="true">

        <param name="robot_name" value="$(arg robot_name)"/>
    </node>

</launch>

<!--            // "thetaX":92.8780517578125,
            // "thetaY":-3.9708383083343506,
            // "thetaZ":92.5357894897461, 30,0,-90 -->
